/* цвет основного текста #2E2F42 */
/* вторичный цвет #434455 */
/* белый цвет #FFFFFF */
/* цвет хедера(лого) #4D5AE5 */
/* цвет футера #F4F4FD  */
/* акцент #4D5AE5 */
:root {
    --primary-text-color: #4D5AE5;
    --dark-text-color: #2E2F42;
    --success-text-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-text-color: #E7E9FC;
    --light-text-color: #F4F4FD; 
    --light-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-color);
    color : var(--text-color);
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    padding-top: 25px;
    border-bottom: 1px solid #e7e9fc;
}
.header-main.container {
    margin: 0 auto;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-main {
    margin: 0 auto;
    display: flex;
    width: 1158px;
    padding: 0 15px;
}
.logo {
    padding-top: 22px;
    font-family: "Raleway", sans-serif;    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-right: 76px;
}
.link {
text-decoration: none;
padding: 24px 0;
}
.logo-studio {
color: #2e2f42;
}
.site-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.auth-nav {
    display: flex;
    gap: 40px;
}
.list {
    list-style: none;
}

/* site-nav  */
.site-nav .link {
    color: var(--dark-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #404bbf;
} 
.social {
    font-style: normal;
}
.email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.email:hover,
.email:focus {
    color:  #404bbf;
}
.hero {
    color: #FFFFFF;
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-btn {
    display: block;
    margin-top: 48px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
.hero-title {
    max-width: 496px;
    padding-top: 188px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.section {
    padding: 120px 0;
}
.section-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.work-list {
    display: flex;
    gap: 24px;
}

.title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragraff {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.section-item {
    flex-basis: calc((100% - 72px) / 4);
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list .title {
    color: #2E2F42;
}
.work {
    padding-bottom: 120px;
}
.work-item {
    flex-basis: calc((100% - 3 * 16px) / 3);
}

.team {
    background-color: var(--light-text-color);
    padding: 120px 0;
}
.team-list {
    display: flex;
    background-color: #FFFFFF;
    gap: 24px;
}
.person {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
}
.person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text-color)
}
.person-list {
    border-radius: 0px 0px 4px 4px;
}
.person-card {
    padding: 32px 16px;
    width: calc((100% - 72px) / 4);
}
.person-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}
.section-title-team {
    margin-bottom: 72px;
}
.section-team-list {
    display: flex;
    gap: 24px;
}
.container-teams {
    padding: 32px 16px;
}
.footer {
    padding: 100px 0;
    background-color: var(--dark-text-color)
}

.link.logo-footer {
display: inline-block;
}
.logo-footer {
display: inline-block;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}
.footer-logo-studio {
    color: #f4f4fd;
}
.footer-text {
    max-width: 264px;
}
.site-nav .list .link {
    color: var(--dark-text-color);
}
.btn {
    color: var(--primary-text-color);
    background-color: var(--light-text-color);
}
.btn:hover,
.btn:focus {
    color: #FFFFFF;
}
.other-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
}
.page {
    border-bottom: 1px solid #e7e9fc;
}
.page-container {
    display: flex;
}
.page-nav {
    display: flex;
    align-items: center;
}